.summary {
    margin-bottom: 30px;
}

.card-summary {
    width: 250px;
    height: 134px;
    border-radius: 8px;
    cursor: pointer;
}

.card-summary:hover>h2,
.card-summary:hover>p {
    color: #3751FF;
    border-color: #3751FF;
}

.card-summary h2 {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    /* text-align: center; */
    letter-spacing: 0.4px;
    color: #9FA2B4;
}

.card-summary p {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* text-align: center; */
    letter-spacing: 1px;
    color: #252733;
}